<ion-header>
  <ion-toolbar>
    <ion-title>
      Pronunciation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-label color="primary" fixed>Language</ion-label>
  <ion-select placeholder="Select Language" [(ngModel)]="selectedLanguage" (ionChange)="selectedLanguageChanged()">
    <ion-select-option value="0">English</ion-select-option>
    <ion-select-option value="1">Turkish</ion-select-option>
  </ion-select>
  <br />
  <ion-label color="primary" fixed>Phrase</ion-label>
  <ion-item-divider>
    <ion-input [(ngModel)]="phrase" placeholder="Type anything" (ionChange)="phraseChanged()"></ion-input>
  </ion-item-divider>
  <br />
  <ion-list>
    <ion-list-header>
      Bulgarian Equivalent
    </ion-list-header>
    <ion-item>
      <ion-label>{{splittedPhrase}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{bulgarianEquivalent}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>